* {
  box-sizing: border-box;
  margin: 0;
}

/*sam did update some od the css*/
header {
  margin-bottom: 5%;
  width: 100%;
}
h1 {
  font-family: "Syne", sans-serif;
  font-weight: 500;
}
h2 {
  font-family: "Syne", sans-serif;
  font-weight: 500;
  padding-bottom: 2vw;
}
p {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 15px;
  padding-top: 10px;
  line-height: 1.6;
}
/* Start Design of the home Page - sam */
/*slideshow style*/

.slide {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
}
.slide img {
  width: 100%;
  display: block;
}
.slide-text {
  position: absolute;
  bottom: 0;
  color: rgb(239, 235, 235);
  width: 100%;
  padding: 10px;
  text-align: end;
  box-sizing: border-box;
}
.slide-text h3 {
  margin: 0;
}
/*Previous and next button in the slideshow */
.cycle-prev,
.cycle-next {
  position: absolute;
  top: 30%;
  background-color: rgba(0, 0, 0, 0.3);
  color: wheat;
  padding: 1px 10px;
  display: block;
  cursor: pointer;
  font-size: 130%;
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.5s;
}
.cycle-next {
  right: 0;
}

.cycle-slideshow:hover .cycle-prev,
.cycle-slideshow:hover .cycle-next {
  opacity: 1;
}
.cycle-pager {
  position: absolute;
  bottom: 20px;
  z-index: 1003;
  width: 100%;
  text-align: center;
}
.cycle-pager span {
  text-indent: -9999px;
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 4px;
  cursor: pointer;
}
.cycle-pager .cycle-pager-active {
  background-color: black;
}

/*Sam To be Continued */
/*popular Bikinis */

.bikinis-row {
  margin-top: 5%;
  display: flex;
  justify-content: space-evenly;
}
.prices {
  font-weight: bold;
}

/*offers Section*/
.offers-section {
  color: whitesmoke;
}
.offers-section img {
  width: 50%;
}

.button {
  background-color: rgba(179, 174, 228, 1);
  max-width: fit-content;
  padding: 1%;
  border-radius: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.button a {
  text-decoration: none;
  color: black;
}

/*Norma section story*/

.text-image-container-story {
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Reviews Athlete*/

.reviews-container {
  margin-right: 2%;
  margin-top: 5%;
  width: 1000px;
}
.reviews-container H2 {
  text-align: center;
}
.reviews-container img {
  border-radius: 50%;
}

.personas-section {
  display: flex;
}
.first-client,
.second-client,
.third-client,
.fourth-client {
  margin: 5%;
}
.name-img-stars {
  display: flex;

  margin-left: 10%;
}
.name-img-stars img {
  width: 50%;
}

/*Blogs section*/
.blogs_container img {
  width: 50%;
}
.button-blog {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(179, 174, 228, 1);
  max-width: fit-content;
  padding: 2%;
  border-radius: 15%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.button-blog a {
  text-decoration: none;
  color: black;
}

/*End Design of the Home Page */

.aboutUs {
  display: flex;
  padding-bottom: 7vw;
}
/* MENU */
.logo {
  height: 40px;
  width: 40px;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  top: 0;
  left: 0;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  background-color: #eee;
  position: fixed;
  /* overflow: auto; */
}
.navbar a {
  float: center;
  text-align: center;
  padding: 12px;
  color: black;
  text-decoration: none;
  font-size: 15px;
  font-family: "Syne", sans-serif;
  font-weight: 500;
}
ul li {
  display: inline;
}
.navbar a:hover {
  color: #7f73f5;
  transition: 0.5s;
}
.active a {
  color: #7f73f5;
}
.navigation-icons a svg {
  height: 50px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown,
.dropdown2,
.dropdown3 {
  position: relative;
  display: inline-block;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content,
.dropdown-content2,
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #eee;
  border-radius: 10%;
  min-width: 180px;
  padding-top: 15px;
  box-shadow: 0px 8px 10px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a,
.dropdown-content2 a,
.dropdown-content3 a {
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
  transition: 0.5s;
}
.dropdown-content2 a:hover {
  background-color: #ddd;
  transition: 0.5s;
}
.dropdown-content3 a:hover {
  background-color: #ddd;
  transition: 0.5s;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown2:hover .dropdown-content2 {
  display: block;
}
.dropdown3:hover .dropdown-content3 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn a {
  color: #7f73f5;
  transition: 0.5s;
}
.dropdown2:hover .dropbtn2 a {
  color: #7f73f5;
  transition: 0.5s;
}
.dropdown3:hover .dropbtn3 a {
  color: #7f73f5;
  transition: 0.5s;
}

@media screen and (max-width: 880px) {
  .logo {
    height: 35px;
  }
  .navbar {
    padding: 6px;
    padding-left: 30px;
    padding-right: 30px;
    /* overflow: auto; */
  }
  .navbar a {
    padding: 6px;
    font-size: 12px;
  }
  .navigation-icons a svg {
    height: 30px;
    margin: -5px;
  }
}
@media screen and (max-width: 630px) {
  .logo {
    height: 30px;
  }
  .navbar {
    padding: 5px;
    padding-left: 25px;
    padding-right: 25px;
    /* overflow: auto; */
  }
  .navbar a {
    padding: 5px;
    font-size: 10px;
  }
  .navigation-icons a svg {
    height: 20px;
    margin: -5px;
  }
}
@media screen and (max-width: 480px) {
  .logo {
    height: 25px;
  }
  .navbar {
    padding: 4px;
    padding-left: 20px;
    padding-right: 20px;
    /* overflow: auto; */
  }
  .navbar a {
    padding: 3px;
    font-size: 8px;
  }
  .navigation-icons a svg {
    height: 20px;
    margin: -5px;
  }
}
/* END OF MENU */

/* FORMS */
.assesmentFlex {
  display: flex;
  justify-content: space-between;
}
.assesmentFlex p {
  width: 53vw;
  padding-right: 15vw;
}
.assesmentFlex img {
  height: 24vw;
  width: 32vw;
  border-radius: 2vw;
}
.formContainer {
  display: flex;
  padding-bottom: 1%;
}
form {
  padding-bottom: 4.5%;
}
input {
  display: block;
  width: 260px;
  height: 30px;
  padding-left: 20px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin: 10px;
  font-size: 14px;
  border-radius: 15px;
  background: #eee;
  border: solid 1px black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  outline-width: 0;
}
label {
  padding-bottom: 5px;
}
.rightForm {
  padding-left: 7%;
}
#sendButton {
  background-image: linear-gradient(to right, #b3aee4 0%, #eee 100%);
  width: 165px;
  text-align: center;
  background-size: 120% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  display: block;
  margin-left: 78%;
  padding-right: 10px;
  height: 50px;
  align-items: center;
}
#sendButton2 {
  background-image: linear-gradient(to right, #b3aee4 0%, #eee 100%);
  width: 110px;
  background-size: 120% auto;
  box-shadow: 0 0 20px #eee;
  border-radius: 30px;
  display: block;
  margin-left: 80%;
  padding-right: 20px;
  height: 50px;
}
#sendButton:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}
#sendButton2:hover {
  background-position: right center; /* change the direction of the change here */
  text-decoration: none;
}
#goals {
  height: 150px;
  width: 75%;
}
label {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 5px;
}

/* END OF FORMS */

/* FOOTER */

footer {
  display: flex;
  width: 100%;
  bottom: 0;
  left: 0;
  color: #eee;
  font-family: "Roboto", sans-serif;
  padding: 3vw;
  background-image: linear-gradient(to right, #b3aee4 0%, #242a31 100%);
}
.content {
  display: flex;
}
footer a {
  float: center;
  text-align: center;
  padding: 12px;
  color: #eee;
  text-decoration: none;
  font-size: 14px;
  font-weight: 300;
}
footer ul li {
  display: table;
  line-height: 1.6;
}
.pages {
  padding-bottom: 0.8vw;
  padding-left: 50px;
}
.media-icons {
  padding-top: 0.4vw;
}
footer a:hover {
  color: darkgray;
  transition: 0.5s;
}
.rightBox {
  padding-left: 41vw;
}
.rightBox p {
  font-size: 12px;
  padding-top: 0px;
}
.rightBox svg {
  margin-right: 10px;
}
.rightBox img {
  height: 35px;
}
/* END OF FOOTER */
